/* Show coin progress in navbar */
.navbar-item.darker::after {content: attr(title);}
.navbar-item.darker:not(:first-child):after {text-transform: capitalize;}
.navbar-item.darker > .coins {margin-right: 5px;}

/* Show actual post time */
.timeago::before {content: attr(title) " - ";}
.bglinker .timeago::before {content: ""; }

/* Improve username legibility on backgrounds, by selectively applying textshadowing
aswell as using brighter colours and making everything a note bigger */
.username.user-gold a{color:#eb2;}
.username.user-moderator a, .username.user-admin a{color:#0a0;}
.username a{color:#39e;}
.has-background-image .username {text-shadow: 0 0 2px black;}

/* Fix badly aligned level */
span.userlevel {top:-3px;}

/* darker background */
html::before {
    background-image: none !important;
    background-color: #222;
}